.block-title {
  display: flex;
  flex-direction: column;
  font-size: 18px;

  span {
    color: $color-1;
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    &::after {
      content: "";
      width: 16px;
      height: 1px;
      margin-left: 6px;
      background: $color-1;
    }
  }

  h2 {
    color: $color-2;
  }
}
