.header {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 100px;
  width: 100%;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 8px 1px transparent;
  @include transition($duration: 0.9s);

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: $color-3;
    transform: translateY(-100%);
    @include transition($duration: 0.9s);
  }

  &.out {
    transform: translateY(-150%);
  }

  &__content {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__logo {
    width: 80px;
    max-height: 60px;
    @include transition($duration: 0.9s);

    &:hover {
      transform: translateY(0);

      .svg {
        path {
          &:last-child {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }

    .svg {
      path {
        @include transition($duration: 0.9s);

        &:last-child {
          fill: $color-2;
          opacity: 0;
          transform: translateY(20px);
        }
      }
    }
  }

  &__links {
    display: flex;
  }

  &__link {
    padding: 0 16px;

    .link {
      font-size: 14px;
      text-transform: uppercase;
      color: $color-2;
      @include transition($duration: 0.9s);

      &::before {
        background: $color-1;
      }

      &:hover {
        color: $color-1;
      }
    }

    &.active {
      .link {
        color: $color-4;

        &::before {
          background: $color-4;
        }
      }
    }
  }

  &__auth {
    display: flex;

    &-link {
      padding: 0 16px;

      .link {
        font-size: 14px;
        text-transform: uppercase;
        color: $color-2;
        @include transition($duration: 0.9s);

        &::before {
          background: $color-1;
        }

        &:hover {
          color: $color-1;
        }

        &.active {
          color: $color-4;

          &::before {
            background: $color-4;
          }
        }
      }
    }
  }

  &.scrolled {
    box-shadow: 0 2px 8px 1px rgba(134, 142, 150, 0.2);

    &::before {
      transform: translateY(0);
    }

    .header__logo {
      .svg {
        path:last-child {
          fill: $color-2;
        }
      }
    }

    .header__link {
      .link {
        color: $color-2;

        &::before {
          background: $color-1;
        }

        &:hover {
          color: $color-1;
        }
      }

      &.active {
        .link {
          color: $color-4;

          &::before {
            background: $color-4;
          }
        }
      }
    }
  }
}

.header-index {
  .header {
    &__logo {
      .svg {
        path {
          &:last-child {
            fill: #ebebeb;
          }
        }
      }
    }

    &__link {
      .link {
        color: $color-3;

        &::before {
          background: $color-3;
        }

        &:hover {
          color: $color-3;
        }
      }

      &.active {
        .link {
          color: $color-4;

          &::before {
            background: $color-4;
          }
        }
      }
    }

    &__auth {
      &-link {
        .link {
          color: $color-3;

          &::before {
            background: $color-3;
          }

          &:hover {
            color: $color-3;
          }

          &.active {
            color: $color-4;

            &::before {
              background: $color-4;
            }
          }
        }
      }
    }
  }
}
