extends ../layouts/master.pug

block header
  include ../partials/_header.pug

block content
  -
    const practices = [
      {

      },
    ]
  main.main.practices
    .practices__content
      h1.title Практики
      .practices__content-block 
        ul.practices__menu

block footer
  include ../partials/_footer.pug
