-
  const header_menu_links = [
    {
      url: "/about",
      text: "О компании"
    },
    {
      url: "/practices",
      text: "Практики"
    },
    {
      url: "/team",
      text: "Команда"
    },
    {
      url: "/contacts",
      text: "Контакты"
    },
  ]

header.header
  .header__content.content
    .header__logo
      a(href="/index")
        img.svg(src="../assets/images/logo.svg", alt="Themis")
    nav.header__menu
      ul.header__links
        each link, i in header_menu_links
          if i == 0
            li.header__link.active
              a.link(href=link.url)= link.text
          else
            li.header__link 
              a.link(href=link.url)= link.text
    .header__auth
      .header__auth-link
        button.link(data-type="js-open-btn", data-modal="js-auth-btn") Вход
      .header__auth-link
        button.link(data-type="js-open-btn", data-modal="js-register-btn") Регистрация
