-
  const header_menu_links = [
    {
      url: "#",
      text: "О компании"
    },
    {
      url: "/practices",
      text: "Практики"
    },
    {
      url: "#",
      text: "Команда"
    },
    {
      url: "#",
      text: "Контакты"
    },
  ]

header.header
  .header__content.content
    .header__logo
      a(href="/index")
        img.svg(src="../assets/images/logo.svg", alt="Themis")
    nav.header__menu
      ul.header__links
        each link, i in header_menu_links
          if i == 0
            li.header__link.active
              a.link(href=link.url)= link.text
          else
            li.header__link 
              a.link(href=link.url)= link.text
