include ../mixins/_mixins.pug

doctype html
html(lang="ru")
  head
    title T H E M I S &nbsp;|&nbsp; Главная
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="shortcut icon", href="assets/favicon.svg", type="image/x-icon")
  body
    include ../components/_preloader.pug
    .loaded-content(style="opacity: 0")
      include ../components/_auth-modal.pug
      include ../components/_register-modal.pug
      block header
      block content
      block footer
    block scripts
